{% extends "base.html" %}

{% block title %}Actividades - KONECTAi{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js-actv.js') }}" defer></script>
{% endblock %}

{% block content %}
<!-- Contenido específico de ACTIVIDADES -->
<main><h1></br></h1>
    <!-- Programas -->
    <section class="prog">
      <h1>Nuestros Programas de Voluntariado</h1>
      <p>Ofrecemos oportunidades según tus habilidades e intereses.</p>
      <div class="cards">
        <article class="card">
          <div class="icono i1"><!-- svg -->🌻</div>
          <div class="cuerpo">
			  <h3>Educación Inclusiva</h3>
			  <p>Apoya a estudiantes con necesidades especiales.</p>
			  <button class="btn-p">Participar</button>
		  </div>
        </article>
		<article class="card">
          <div class="icono i2"><!-- svg -->🌼</div>
		  <div class="cuerpo">
			  <h3>Medio Ambiente</h3>
			  <p>Participa en proyectos de reforestación.</p>
			  <button class="btn-p">Participar</button>
		  </div>
        </article>
		<article class="card">
          <div class="icono i3"><!-- svg -->🌸</div>
		  <div class="cuerpo">
			  <h3>Apoyo Comunitario</h3>
			  <p>Colabora en comedores sociales y visitas a residencias de ancianos.</p>
			  <button class="btn-p">Participar</button>
		  </div>
        </article>
      </div>
    </section>
  </main>

{% endblock %}
