<!-- Footer -->
  <footer>
    <div class="pie-cont">
      <div class="fbox info">
        <h3 class="logo-f">🌐<!-- svg --><span>KONECTAi</span></h3>
        <span>Creando oportunidades de voluntariado <br> inclusivo para todos.</span>
      </div>
      <div class="fbox links">
        <div>
          <h3>Programas</h3>
          <ul>
			<li>Educación Inclusiva</li>
			<li>Deporte Inclusivo</li>
			<li>Medio Ambiente</li>
		  </ul>
        </div>
      </div>
	  <div class="fbox nosotros">
	  <h3>Sobre Nosotros</h3>
        <ul>
          <li>Nuestra Misión</li>
          <li>Alianzas</li>
          <li>Transparencia</li>
        </ul>
      </div>
      <div class="fbox contacto">
	  <h3>Contacto</h3>
        <ul>
          <li>Calle Principal S/N, Huancayo</li>
          <li>info.grupof@konectai.org</li>
          <li>+51 923 456 789</li>
        </ul>
      </div>
    </div>
	<div class="linea cont"> </div>
	<p class="cpy">© 2025. Todos los derechos reservados.</p>   
  </footer>
